/* joylive color palette */
:root {
    --joy-yellow: #FCAB50;
    --joy-orange: #F36523;
    --joy-red: #BF1E2D;
    --joy-purple: #4B0738;
    --joy-lightblue: #46C0CB;
    --joy-blue: #179AAE;
    --joy-teal: #0C6E77;
}

body {
    /* width: 100%; */
    width: 360px;
    margin: 0 auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 10px !important;
    padding: 10px 0;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    font-family: 'Inter';
    font-size: 11px;
    text-align: center;
}

.header img {
    height: 40px !important;
    width: auto !important;
}

.floating-jingle {
    width: 40px;
    height: 40px;
    position: fixed;
    z-index: 5;
    padding: 25px;
    right: 0px;
    bottom: -90px;
    transition: bottom 0.3s ease-out;
    opacity: 50%;
}

.floating-jingle.visible {
    bottom: 0px;
}

.floating-jingle button {
    background-color: var(--joy-red);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border-color: transparent;
    box-shadow: 0 0 4px rgba(0, 0, 0, 25%);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.floating-jingle button svg {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

.video-icons {
    width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
}

.icon-row {
    display: flex;
    width: max-content;
    padding: 0 12px;
}

.icon-room {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    color: var(--joy-teal);
    text-transform: uppercase;
    font-size: 9px;
    width: 90px;
    height: 110px;
    justify-content: space-evenly;
    cursor: pointer;
}

.icon-room img {
    object-fit: cover;
    width: 60px !important;
    height: 60px !important;
    border-radius: 30px;
    flex-shrink: 0;
}

.icon-text{
    width: 85px;
    text-align: center;
    font-family: 'Inria Sans';
    font-weight: bold;
}

.body-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.front-view {
    aspect-ratio: 2 / 3;
    background-color: var(--joy-red);
}

.front-view .room {
    display: none;
}

.front-view .room.active {
    display: block;
}

.front {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.front img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 3;
}

.front-text {
    position: absolute;
    left: 50%;
    top: 120px;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    text-shadow: 0px 0px 4.5px rgba(0, 0, 0, 75%);
    font-family: 'Inter';
    font-weight: bold;
    white-space: nowrap;
}

.room-video {
    position: relative;
    width: 100%;
    max-width: 100vw;
    aspect-ratio: 2 / 3;
    overflow: hidden;
}

.video-controls {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

.controls-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    width: 100%;
    box-sizing: border-box;
}

.video-controls progress {
    display: block;
    width: 175px;
    height: 3px;
    margin: 0 auto;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    border-radius: 2px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 50%) !important;
}

.video-controls progress::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, 50%);
    border-radius: 2px;
}

.video-controls progress::-webkit-progress-value {
    background-color: white;
    border-radius: 2px;
}

.video-controls progress::-moz-progress-bar {
    background-color: white !important;
}

.room {
    overflow: hidden;
}

.room video {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    aspect-ratio: 2 / 3;
    max-height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.room-video:fullscreen .video-controls,
.room-video:-webkit-full-screen .video-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.room-video:fullscreen .controls-bottom,
.room-video:-webkit-full-screen .controls-bottom {
    width: 100%;
    align-items: center;
}

.room-video:fullscreen .controls-bottom .controls-icon,
.room-video:-webkit-full-screen .controls-bottom .controls-icon {
    width: 100%;
    justify-content: center;
}

.room-video:fullscreen video,
.room-video:-webkit-full-screen video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-controls button {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
}

.controls-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.controls-icon button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 0;
}

.controls-icon svg {
    color: white;
    width: 20px;
    height: 20px;
    flex-shrink: 0;

    -webkit-filter: drop-shadow(0 0 4px rgba(0, 0, 0, 25%));
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 25%));
}

.room-text {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;
    color: rgba(0, 0, 0, 75%);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inria Sans';
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 100vw;
}

.controls-bottom .controls-icon {
    justify-content: center;
    width: 100%;
}

.contact-us {
    color: #fff;
    height: 125px;
    background-color: var(--joy-teal);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
    text-align: center;
    font-family: 'Inria Sans';
    font-weight: bold;
    font-size: 13px;
    z-index: 4;
}

.contact-us-icons {
    display: flex;
    gap: 20px;
}

.icon-social {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-head {
    color: var(--joy-teal);
    text-transform: uppercase;
    font-family: 'Inria Sans';
    font-weight: bold;
    font-size: 40px;
}

.error-text {
    color: rgba(0, 0, 0, 75%);
    font-family: 'Inter';
    font-size: 18px;
}

.error-container {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    cursor: pointer;
    padding: 30px 0;
    gap: 30px;
}

.redirect {
    color: var(--joy-red);
    font-family: 'Inria Sans';
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

footer {
    font-family: 'Inter';
    font-size: 11px;
}

footer span {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

@media (min-width: 720px) {
    .video-icons {
        text-align: center;
        overflow-x: auto;
    }

    .icon-row {
        width: max-content;
        display: inline-flex;
    }

    .front {
        width: 320px;
    }

    .front-view {
        width: auto;
        overflow: hidden;
        height: 540px;
        display: flex;
        justify-content: center;
        background-color: var(--joy-purple);
    }

    .room {
        width: 320px;
        overflow: hidden;
        height: 540px;
        display: flex;
        justify-content: center;
        background-color: var(--joy-red);
    }

    .room-video {
        height: 470px;
    }

    .controls-bottom {
        width: 293px;
        flex-direction: column;
    }

    .room-video:fullscreen {
        width: 100%;
        height: 100%;
        aspect-ratio: unset;
        background-color: rgba(0, 0, 0, 50%);
    }

    .room-video:fullscreen video {
        width: 100%;
        height: 100%;
        object-fit: contain;
        aspect-ratio: unset;
    }

    .room-video:fullscreen .controls-bottom {
        width: 100% !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .room-video:fullscreen .video-controls {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .room-video:-webkit-full-screen {
        width: 100%;
        height: 100%;
        aspect-ratio: unset;
        background-color: rgba(0, 0, 0, 50%);
    }

    .room-video:-webkit-full-screen video {
        width: 100%;
        height: 100%;
        object-fit: contain;
        aspect-ratio: unset;
    }

    .room-video:-webkit-full-screen .controls-bottom {
        width: 100% !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .room-video:-webkit-full-screen .video-controls {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .room-video:-moz-full-screen {
        width: 100%;
        height: 100%;
        aspect-ratio: unset;
        background-color: rgba(0, 0, 0, 50%);
    }

    .room-video:-moz-full-screen video {
        width: 100%;
        height: 100%;
        object-fit: contain;
        aspect-ratio: unset;
    }

    .room-video:-moz-full-screen .controls-bottom {
        width: 100% !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .room-video:-moz-full-screen .video-controls {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }

    .redirect:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}