/* joylive color palette */
:root {
    --joy-yellow: #FCAB50;
    --joy-orange: #F36523;
    --joy-red: #BF1E2D;
    --joy-purple: #4B0738;
    --joy-lightblue: #46C0CB;
    --joy-blue: #179AAE;
    --joy-teal: #0C6E77;
}

body {
    /* width: 100%; */
    width: 360px;
    margin: 0 auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px !important;
    padding: 10px 0;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    font-family: 'Inter';
    font-size: 11px;
    text-align: center;
}

.header img {
    height: 40px !important;
    width: auto !important;
}

.video-icons {
    width: 100%;
    overflow-x: auto;
    box-sizing: border-box;
}

.icon-row {
    display: flex;
    width: max-content;
    padding: 0 12px;
}

.icon-room {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    color: var(--joy-teal);
    text-transform: uppercase;
    font-size: 9px;
    width: 90px;
    height: 110px;
    justify-content: space-evenly;
    cursor: pointer;
}

.icon-room img {
    object-fit: cover;
    width: 60px !important;
    height: 60px !important;
    border-radius: 30px;
    flex-shrink: 0;
}

.icon-text{
    width: 85px;
    text-align: center;
    font-family: 'Inria Sans';
    font-weight: bold;
}

.body-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.front-view {
    aspect-ratio: 2 / 3;
}

.front-view .room {
    display: none;
}

.front-view .room.active {
    display: block;
}

.front {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    /* aspect-ratio: 2 / 3; */
}

.front img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.front-text {
    position: absolute;
    left: 50%;
    top: 120px;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    text-shadow: 0px 0px 4.5px rgba(0, 0, 0, 75%);
    font-family: 'Inter';
    font-weight: bold;
    white-space: nowrap;
}

.room-video {
    position: relative;
    width: 100%;
    aspect-ratio: 2 / 3;
    overflow: hidden;
}

.video-controls {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

.controls-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

progress {
    display: block;
    width: 175px;
    height: 3px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    border-radius: 2px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 50%) !important;
}

progress::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, 50%);
    border-radius: 2px;
}

progress::-webkit-progress-value {
    background-color: white;
    border-radius: 2px;
}

progress::-moz-progress-bar {
    background-color: white !important;
}

.room {
    aspect-ratio: 2 / 3;
}

.room video {
    width: 100%; 
    height: 100%;
    object-fit: cover;
    aspect-ratio: 2 / 3;
}

.room-video:fullscreen video,
.room-video:-webkit-full-screen video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-controls button {
    background-color: transparent;
    border-color: transparent;
}

.controls-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.controls-icon button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 0;
}

.controls-icon svg {
    color: white;
    width: 20px;
    height: 20px;
    flex-shrink: 0;

    -webkit-filter: drop-shadow(0 0 4px rgba(0, 0, 0, 25%));
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 25%));
}

.room-text {
    background-color: white;
    color: rgba(0, 0, 0, 75%);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inria Sans';
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.contact-us {
    color: #fff;
    height: 125px;
    background-color: var(--joy-teal);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
    text-align: center;
    font-family: 'Inria Sans';
    font-weight: bold;
    font-size: 13px;
}

.contact-us-icons {
    display: flex;
    gap: 20px;
}

.icon-social {
    cursor: pointer;
}

.icon-social {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floating-jingle {
    width: 40px;
    height: 40px;
    position: fixed;
    z-index: 5;
    padding: 25px;
    right: 0px;
    bottom: -90px;
    transition: bottom 0.3s ease-out;
    opacity: 50%;
}

.floating-jingle.visible {
    bottom: 0px;
}

.floating-jingle button {
    background-color: var(--joy-red);
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border-color: transparent;
    box-shadow: 0 0 4px rgba(0, 0, 0, 25%);
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media (min-width: 1300px) {
    .video-icons {
        display: flex;
        justify-content: center;
    }

    .front {
        width: max-content;
        /* height: max-content; */
        aspect-ratio: 2 / 3;
    }

    .front-view {
        width: auto;
        overflow: hidden;
        height: 540px;
        display: flex;
        justify-content: center;
        background-color: var(--joy-purple);
    }

    .room {
        width: auto;
        overflow: hidden;
        height: 540px;
        display: flex;
        justify-content: center;
        background-color: var(--joy-purple);
    }

    .room-video {
        height: 470px;
    }

    .room-video:fullscreen {
    width: 100%;
    height: 100%;
    aspect-ratio: unset;
    background-color: var(--joy-purple);
}

.room-video:fullscreen video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: unset;
}

.room-video:-moz-full-screen {
    width: 100%;
    height: 100%;
    aspect-ratio: unset;
    background-color: var(--joy-purple);
}

.room-video:-moz-full-screen video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: unset;
}
}